* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { /* StyleSheet for body */
    font-family: 'Arial', sans-serif; 
    background-color: #f4f4f4; 
    color: #333333; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0; 
}

.Divider{ 
    padding: 1px; 
}

.ProfileBar {
    display: flex;
    justify-content: space-between; /* Pushes content to the edges */
    align-items: center; /* Aligns items vertically */
    padding: 10px 20px; /* Adds some spacing */
}

.Profile {
    display: flex;
    gap: 15px; /* Adds spacing between Login and Register links */
}

.BasketAndSellers {
    display: flex;
    gap: 15px; /* Adds spacing between Basket and Sell Item links */
}

.BasketAndSellers img {
    width: 24px; /* Adjust size of icons */
    height: 24px;
    cursor: pointer; /* Adds a pointer cursor on hover */
}

.Profile a, .BasketAndSellers a {
    text-decoration: none; /* Removes underline from links */
    color: #000000; /* Bootstrap primary color */  
}

.Title-SearchBar {
    display: flex; 
    align-items: center; 
    gap: 5px; 
    padding: 5px; 
}

.Title-SearchBar header h1 {
    margin: 0;
    font-size: 50px; 
}

.Title-SearchBar form {
    display: flex; 
    flex-grow: 1; 
    gap: 10px; 
}

.Title-SearchBar form input {
    flex-grow: 1; 
    padding: 5px; 
    font-size: 16px; 
    width: 100%; 
    max-width: 600px; 
}
.Title-SearchBar form button {
    padding: 10px 10px; 
    font-size: 16px; 
    cursor: pointer; 
}

.Title-SearchBar form button.btn.btn-primary {
    background-color: #007bff; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
}

/*Item Category Buttons*/
.NavButtons {
    padding: 5px; 
}

.NavButtons ul {
    list-style-type: none; 
    display: flex; 
    justify-content: space-around; 
}

.NavButtons ul li a {
    text-decoration: none;
    color: #333; 
    padding: 10px 15px; 
}

.footer { /* Change footer style */
    background-color: #6e6d6d; 
    color: #fff; 
    text-align: center; 
    padding: 5px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}